html {
    font-size:20px; 
    font-family: Verdana, Verdana, Geneva, sans-serif;
}
ul{
    margin: 10px;
    color: black;
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
    padding: 20px;
    color: black;
}
  h2{
    font-size: 25px;
  }
  h3{
    font-size: 15px;
    font-weight: none;
  }
  .navbar{
      margin: 20px;
      position: absolute;
      top: 10px;
      right: 10px;
      box-shadow: 0 0 10px #0005;
      border-radius: 0.5rem; /*round edges*/
      backdrop-filter: blur(10px);
      background-color: rgba(248, 204, 231, 0.925);
      width: 50%;
  }
.navbar-container{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  .navbar a:hover{
    color: #72A0C1;
  }
  .bio-container{
    display: flex;
    width:fit-content;
  }
  
  @media screen and (min-width: 480px) {
    .navbar li{
      display: inline;
    }
  }
