html {
    font-size:20px; 
    font-family: Verdana, Verdana, Geneva, sans-serif;
}
ul{
    margin: 10px;
    color: black;
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
    padding: 20px;
    color: black;
}
  h2{
    font-size: 25px;
  }
  h3{
    font-size: 15px;
    font-weight: none;
  }
  .navbar{
    display: flex;
    justify-content: flex-end;
  }
  
.navbar-container{
    width: 60%;
    box-shadow: 0 0 10px #0005;
    border-radius: 0.5rem; /*round edges*/
    backdrop-filter: blur(10px);
    background-color: rgba(248, 204, 231, 0.925);
    display: flex;
    align-items: center;
    justify-content: center;
    
  } 
  .navbar a:hover{
    color: #72A0C1;
  }
  .top-container{
    display: flex;
    justify-content: space-between;
  }
  .description{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
  }
  .links{
    display: flex;
    justify-content: space-between;
  }
  .bio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 50px;
  }
  
  @media screen and (min-width: 480px) {
    .navbar li{
      display: inline;
    }
  }
